<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>

		<title>Moving the walls</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>

			body {
				font-family: Monospace;
				background-color: #f0f0f0;
				margin: 0px;
				overflow: hidden;

				}

     /*
     Navigation bar..
		 */

		.navig {
			font-family: 'Playfair Display';
			font-size: 0.85em;
			letter-spacing: 0.2em;
			position: absolute;
			top: 0px;
			left:0px;
			margin-left:0px;
			padding-left: 0px;
			padding-top: 20px;
			width: 100%;
			height: 50px;
			background-color:#fff0b3;
			z-index: 10000;
			opacity: 1;
		}

		.menu {

			font-family: 'Playfair Display';
			font-size: 1.6em;
			letter-spacing: 0.2em;
			position: absolute;
			top: 10px;
			z-index: 10010;
			opacity: 1;

		}

		/*
		Panel object
		*/

		.panel {
			font-family: 'Playfair Display';
			font-size: 0.85em;
			letter-spacing: 0.2em;
			position: absolute;
			top: 50px;
			left:10px;
			margin-left:5px;
			padding-left: 10px;
			padding-top: 20px;
			width: 200px;
			height: 200px;
			background-color:grey;
			z-index: 9999;
			opacity: 0.8;
			visibility: hidden;
		}

		.titlepanel {
			font-family: 'Playfair Display';
			font-size: 1.5em;
			letter-spacing: 0.1em;
			text-align: center;

		}

		/*
		Panel menu
		*/

		.panel_menu1 {
			font-family: 'Playfair Display';
			font-size: 0.85em;
			letter-spacing: 0.2em;
			position: absolute;
			top: 50px;
			left:200px;
			margin-left:5px;
			padding-left: 10px;
			padding-top: 20px;
			width: 200px;
			height: 200px;
			background-color:grey;
			z-index: 9999;
			opacity: 0.8;
		}

		/*
		Panel objects
		*/

		.panel_objects {
			font-family: 'Playfair Display';
			font-size: 0.85em;
			letter-spacing: 0.2em;
			position: absolute;
			top: 50px;
			right:10px;
			margin-left:5px;
			padding-left: 10px;
			padding-top: 20px;
			width: 200px;
			height: 600px;
			background-color:grey;
			z-index: 9999;
			opacity: 0.8;
		}

		</style>
	</head>
	<body>

		<!-- jquery -->
		<script src="/static/js/js/jquery.min.js"></script>
		<!-- jquery-ui -->
		<script src="/static/js/jquery-ui.js"></script>
		<!-- bootstrap -->
		<script src="/static/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- socket.io -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
		<script src="/static/js/simple_flat/three.js"></script>
		<script src="/static/js/simple_flat/TrackballControls.js"></script>
		<script src="/static/js/simple_flat/stats.js"></script>
		<script src="/static/js/object_museum.js"></script>
		<script src="/static/js/make_objects.js"></script>
		<script src="/static/js/drag_flat.js"></script>

		<script>

			var container, stats;
			var camera, controls, scene, projector, renderer;
			var objects = [], plane;
			var create_new_obj = false;
			var select_obj = false;
			var selpos = [];
			var select_poscam = false;

			var mouse = new THREE.Vector2(),
			offset = new THREE.Vector3(),
			INTERSECTED, SELECTED;
			namespace = '/pos'; // change to an empty string to use the global namespace
      var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

			init();
			animate();

			function init() {

				container = document.createElement( 'div' );
				document.body.appendChild( container );

				camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 1, 10000 );
				camera.position.z = 2000;
				camera.position.y = -2000;
				camera.position.x = 0;

				controls = new THREE.TrackballControls( camera );
				controls.rotateSpeed = 1.0;
				controls.zoomSpeed = 1.2;
				controls.panSpeed = 0.8;
				controls.noZoom = false;
				controls.noPan = false;
				controls.staticMoving = true;
				controls.dynamicDampingFactor = 0.3;

				scene = new THREE.Scene();

				scene.add( new THREE.AmbientLight( 0x505050 ) );
				// ----------------------------------------------- Light
				var light = new THREE.SpotLight( 0xffffff, 1.5 );
				light.position.set( 200, 500, 2000 );
				light.castShadow = true;
				// ----------------------------------------------- Shadow
				light.shadowCameraNear = 200;
				light.shadowCameraFar = camera.far;
				light.shadowCameraFov = 50;
				// -------------------------
				light.shadowBias = -0.00022;
				light.shadowDarkness = 0.5;
				// -------------------------
				light.shadowMapWidth = 2048;
				light.shadowMapHeight = 2048;

				scene.add( light );

				//make_objects_onflat()
				make_uniform_ground()  			// make the board
				//make_small_seats()     		// make the seats
				//make_seat()            		// make the seat
				listwalls = {}
				function load_scene(msg){

							/*
							Loading the scene
							*/

							var listorig = {}

							for (i=0; i < Object.keys(msg).length; i++){ 					// Create the objects at the beginning
											var k = Object.keys(msg)[i]  									// k is the objects name, wall, seat etc..
											//alert(k)
											//if (msg[k]['clone']['cloned'] == false){
											if (msg[k]['type'] == "wall"){
												 listorig[k] = make_wall(k, msg[k]['pos'], msg[k]['rot'], 0x800000)
											 }

												 listorig[k]['numclone'] = msg[k]['clone']['numclone']
												 listorig[k]['cloned'] = msg[k]['clone']['cloned']
												 listorig[k]['origclone'] = msg[k]['clone']['origclone']

									} // end for

				}
				socket.emit( 'begin',  "hello from client"); // send mess to server for ping pong..
				socket.on('server_pos', function(msg) {
							load_scene(msg)
					  });// end socket.on

				init_drag();

				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.sortObjects = false;
				renderer.setSize( window.innerWidth, window.innerHeight );
				renderer.shadowMapEnabled = true;
				renderer.shadowMapType = THREE.PCFShadowMap;
				renderer.domElement.addEventListener( 'mousemove', onDocumentMouseMove, false );
				renderer.domElement.addEventListener( 'mousedown', onDocumentMouseDown, false );
				renderer.domElement.addEventListener( 'mouseup', onDocumentMouseUp, false );

				//-------------------------- Create object

				renderer.domElement.addEventListener( 'click', mouse_create_object_or_action, false );
				function mousepos(){

							/*
							Return the mouse coordinates in the plane
							*/

							event.preventDefault();
							mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1;
							mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
							//---------------------------------
							var vector = new THREE.Vector3( mouse.x, mouse.y, 0.5 );
							projector.unprojectVector( vector, camera );
							var raycaster = new THREE.Raycaster( camera.position, vector.sub( camera.position ).normalize() );
							//---------------------------------
							var intersects = raycaster.intersectObject( plane );
							var interptsub = intersects[ 0 ].point.sub( offset )
							return interptsub

				}
				function mouse_create_object_or_action(){

						/*
						Create an object or an action where the mouse is located in the plane.
						*/

						if (create_new_obj){
									var newname = Math.random().toString(36).substring(2, 15) ; // + Math.random().toString(36).substring(2, 15)
									interptsub = mousepos()
									var creobj = make_wall(newname, interptsub, {"x":0, "y":0, "z":0}, 0xffffff)  // new wall created at the momuse's position..
						}

						//------------------------- Mouse select area..
						if (select_obj){

								/*
								Select area
								*/

								if ( selpos.length < 2 ){
										//make_mark()
										var newname = Math.random().toString(36).substring(2, 15) ; // + Math.random().toString(36).substring(2, 15)
										interptsub = mousepos()
										var creobj = make_mark(newname, interptsub, {"x":0, "y":0, "z":0}, 0xffffff)
										selpos.push(creobj)
										if (selpos.length == 2){
													make_area(selpos)   // plane created with mouse click..
													selpos = []         // position of the diagonal of the plane
													select_obj = !select_obj;
										}
								}

						}

						if (select_poscam){

										/*
										Select camera position
										*/

										interptsub = mousepos()
										camera.position.z = 1000;
										camera.position.y = interptsub.y;
										camera.position.x = interptsub.x;
										camera.up = new THREE.Vector3(0,0,1); // good orientation of the camera..

							}

				} // end mouse_create_object_or_action

				//-------------------------- Infos

				function give_infos(){
							/*
							Give infos about the seected object.
							*/
							if ( INTERSECTED ){
										var x = document.getElementsByClassName("panel");
										var i;
										for (i = 0; i < x.length; i++) {
											x[i].style.visibility = "visible";
											x[i].style.backgroundColor = "grey";
											x[i].style.left = event.pageX + "px";  				// mouse x
											x[i].style.top = event.pageY + "px";   				// mouse y
										}
							}
							else{

								var x = document.getElementsByClassName("panel");
								var i;
								for (i = 0; i < x.length; i++) {
											//x[i].style.backgroundColor = "red";
											x[i].style.left = "10px";                			// upper left position
											x[i].style.top = "10px";
											x[i].style.visibility = "hidden";
								  }
							}
					} // end give infos
				renderer.domElement.addEventListener( 'mouseup', give_infos, false );

				//------------------------- Keys actions

				var keyev = function(key, event){
							return (event.keyCode == key.charCodeAt(0)-32 )
						}

				function keyDownTextField(event){
						/*
						r : rotate
						c : clone
						d : delete
						n : new piece with mouse
						k : select camera position with mouse..
						*/
						if(keyev('r', event)){    												  // Rotation
									if ( INTERSECTED ){
										INTERSECTED.rotation.z += -Math.PI/2; 		  // Pi/2 rotation
									}
							} // end if key code
							if(keyev('c', event)){    											  // Clone the selected object
										if ( INTERSECTED ){
											  clone = INTERSECTED.clone();
												clone.name = INTERSECTED.name + "_" + INTERSECTED.numclone;
												//-----------
												INTERSECTED.numclone += 1;
												clone.numclone = 0;                     // number of clones from this object
												clone.cloned = true;                    // object is a clone
												clone.origclone = INTERSECTED.name;     // save the link to the original shape
												//-----------
												clone.position.x += 100;                // shift position in relation with the original piece
												clone.material.color.setHex( 0xffffff ); // change color
												scene.add(clone)
												objects.push(clone)
										}
								} // end if key code
								if(keyev('d', event)){    											// Delete object selected
											if ( INTERSECTED ){
													for (i in objects){
																if (objects[i].name == INTERSECTED.name){
																	  delete objects[i];
																}
														}
													scene.remove( INTERSECTED )
											}
									} // end if key code

								if(keyev('n', event)){             							// create or not a new object with the mouse..
									   create_new_obj = !create_new_obj
									} // end if key code

								if(keyev('s', event)){             							// select area..
										 select_obj = !select_obj
									} // end if key code

								if(keyev('k', event)){             							//
										 select_poscam = ! select_poscam;
									} // end if key code

					} // end keyDownTextField

					document.addEventListener("keydown", keyDownTextField, false);

				//------------------------- Emit the positions of all the objects..

				function emit_infos_scene(){          									// emits the positions toward the server to save them

						/*
						Send the informations to the server..
						Infos about : position, cloning, rotation, type of object.. 
						*/

						var listpos = {}         														// list of all the positions
						for (i in objects){
									var dicclone = {}
									dicclone["numclone"] = objects[i].numclone 		// objects.length
									dicclone["cloned"] = objects[i].cloned
									dicclone["origclone"] = objects[i].origclone
									var infos_obj = {"pos": objects[i].position,
									 								 "rot": objects[i].rotation,
																	 "clone": dicclone,
																	 "type": objects[i].type
																  };
									listpos[objects[i].name] = infos_obj;   			// add position to listpos
									}
						socket.emit( 'message', JSON.stringify(listpos));
						}
				renderer.domElement.addEventListener( 'mouseup', emit_infos_scene, false );

				//---------------------------

				container.appendChild( renderer.domElement );
				window.addEventListener( 'resize', onWindowResize, false );

			}

			function animate() {
				requestAnimationFrame( animate );
				render();
			}

			function render() {
				controls.update();
				renderer.render( scene, camera );
			}

		</script>

    <div class="navig">
				<div class="menu" style='left:70px'> Home </div>
				<div class="menu" style='left:200px' id="menu" > Object </div>
				<div class="menu" style='left: 90%'> Help</div>

				<!-- onclick="showmenu()" -->

		</div>

		<div style="cursor: auto;">
			<!-- <canvas style="width: 1007px; height: 804px;" height="804" width="1007"></canvas> -->

			<div class="panel" id="pan" >

						<div class="titlepanel" >
									Parameters
						</div>

						<br><br>

						<!-- <div>
								  <input type="checkbox" id="rotate" name="rot">
								  <label for="rotate">Rotation</label>
						</div> -->

						<!-- <div>
									<input type="checkbox" id="infos" name="inf">
									<label for="informatons">Show Infos</label>
						</div> -->

			</div>

		</div>

		<div class="panel_menu1" id="menu1" hidden>  </div>
		<div class="panel_objects" id="pobj" >  </div>

		</body>
</html>
