<!-- header for all pages -->

<header class="intro-header" style= "background-image: url('{{header.background}}')" >

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">

                    <h2  style='color:white' >{{header.main_title}}</h2>
                    <hr class="small">
                    <span class="subheading">{{header.presentation_interface}}</span>
                    
                </div>
            </div>
        </div>
    </div>

</header>

<a href="{{header.url_home}}"  style="position: absolute; left: 50px; top: 10px;  font-size:85%; color:white " >
        <i class="fa fa-home fa-1x" aria-hidden="true"></i><span> Home</span>
  </a> 
<a href="{{header.url_doc}}"  style="position: absolute; right: 50px; top: 10px;  font-size:85%; color:white " > 
        <i class="fa fa-book fa-1x" aria-hidden="true"></i><span> Doc</span>
 </a>
