<!DOCTYPE html>

<!-- pointerlock_controls with json for defining shapes.  -->

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<title>three.js - gallerie locker v1</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<script src='/static/3d.json'></script>
		<link rel="stylesheet" type="text/css" href="/static/css/gallerie.css">
	</head>
	<body>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/1.6.0/annyang.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js"></script>
        <script type="text/javascript" src="/static/js/TrackballControls.js"></script>
        <script type="text/javascript" src="/static/js/Detector.js"></script>
        <script type="text/javascript" src="/static/js/dat.js"></script>
        <script type="text/javascript" src="/static/js/point_locker.js"></script>
		<script type="text/javascript" src="/static/js/landscape.js"></script>
		<script type="text/javascript" src="/static/js/graphical_elems.js"></script>
		<script type="text/javascript" src="/static/js/make_objects.js"></script>

		<div id="blocker" style="display: -webkit-box;">

			<div id="instructions">
				<span style="font-size:40px">Click to play</span>
				<br>
				(W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
			</div>

		</div>

		<script>

            var camera, scene, renderer, controls;
            var FTICR2Dmap_mesh = 0.25;
            var FTICR2Dmap_detail = 8, FTICR2Dmap_roughness = 0.7;
            // var dist0 = 1e3;
            // var dist1 = 1e4;
            // var dist2 = 1e5;
            // var dist3 = 1e6;
            // var dist4 = 1e7;
            // var dist5 = 1e8;

			var geometry, material, mesh;
			var objects = [];
			var raycaster;
			var blocker = document.getElementById( 'blocker' );
			var instructions = document.getElementById( 'instructions' );

			// http://www.html5rocks.com/en/tutorials/pointerlock/intro/
			//$('#instructions').click()
			ptlock()
			init();
			generate()
			animate();

			if (annyang) {
			  alert('in annyang')
			  var test=function(){alert('helllloooo')}
			  var commands = {'open': test, 'make cube': make_cube, 'new shape': make_cube}; // 'music': zic,
			  annyang.addCommands(commands);
			  annyang.start();
			}

			function onWindowResize() {
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();
				renderer.setSize( window.innerWidth, window.innerHeight );
			}

            function generate() {
                var FTICR2Dmap = new Visu3d(parseInt(FTICR2Dmap_detail));
                FTICR2Dmap.generate(FTICR2Dmap_roughness);
                FTICR2Dmap.addMesh('/static/Decor/mur_crepi.jpg');
				make_ground_repetitive('/static/Decor/marbre_sol.jpg', 0, 20)
                size_tab = 100;
                //tableau('/static/Photographes/Bettina-Rheims.jpg', size_tab, 0, 0, 120, 0.7);
                tableau('/static/Photographes/bettina_rheims_rose_c_est_paris.jpg', size_tab, 200, 0, 100, 0);
                tableau('/static/Photographes/Doisneau-Anita.jpg', size_tab, 500, 0, 150, -1);
                tableau('/static/Photographes/rouge.jpg', size_tab, -200, 0, 100, 0);
                tableau('/static/Photographes/russian_flight_attendants_61.jpg', size_tab, -500, 0, 150, 1);
            };

		</script><canvas width="1078" height="575" style="width: 1078px; height: 575px;"></canvas>

</body></html>
