<!DOCTYPE html>
<html>

  <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <title>control car</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/1.6.0/annyang.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- include bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>

/* centered columns styles */
.row-centered {
    text-align:center;
    table-align:center;
}

table {
    margin: 0 auto;
}


#results {
    background-color: #eee;
    padding:50px;
    border:1px solid #000;
    width:25px;
}
    </style>

  </head>
  <body>

<div class="container">
    <div class="row row-centered">
    	<h2  >Car interface control</h2>

   Interface with Flask for controlling  the car, its camera and experimenting with sensors.

<hr>


    <div id="results"></div>
    <p>
    Say 'green' <br />
    Say 'red' <br />
    Say 'purple' <br />
    Say 'blue' <br />
    </p>

<script>
if (annyang) {
  var r= document.getElementById('results')
  var color = function(color){r.style.backgroundColor=color}
  var commands = {
    '*color': color
  };

  annyang.addCommands(commands);
  annyang.start();
}
</script>


  </body>
</html>
