<!DOCTYPE html>

<!-- scripts -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/js/bootstrap-select.min.js"></script>
    
<!-- css -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="https:////cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/css/bootstrap-select.min.css">

<style>

    div.interact {
        position: fixed;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        box-shadow: 0.5em 0.5em 0.7em;
        left: 20px;
        top: 20px;
        height: 40px;
        width:  150px;
        background-color:#008ae6; 
        font-size:85%;
    }

 </style>

<html lang="en">

    <body>
 
 <div class='interact' id='hello'>
    Helloooo
 </div>

<script>
 $(document).ready(function(){
	namespace = '/save'; 
	var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
	socket.emit('message', 'ouppsss'); 

	$('#hello').draggable()

    $('#hello').click(function(){
    	alert('binggg')
    	socket.emit('pos', 'saying hello to everybody !!'); 
    })
  }) // end document.ready

 </script>

 </body>


</html>